/* SS64.com Stylesheet */
body {
  background-color: #D1D1D1;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-size: 100%;
  font-weight: 400;
  margin: 15px;
}

p,ol,ul,h1,h2,h3,dt,dd,table {
  font-weight: 400;
  line-height: 1.125em;
}

p,hr,ol,ul,dl {
  max-width: 1000px;
}


hr {
  color: #fff;
  margin-left: 0;
  text-align: left;
}

pre,tt,code {
  font-family: "Courier New", Courier, monospace;
  font-size: 100%;
}

h1 {
  clear:both;
  font-size: 1.375em;
  line-height: 1em;
}

h2 {
  font-family: Palatino, "Palatino Linotype",Georgia,Serif;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 1.9ex 0 0;
}

h3 {
  font-weight: 700;
}

tr,td {
  font-family: "Helvetica Neue", Helvetica, Arial, Helmet, FreeSans, Sans-Serif;
  font-size: 100%;
  font-weight: 400;
}

abbr {
  border-bottom: 1px dotted #000;
}

blockquote {margin-right:0;margin-left:40px;}

.body {
  font-family: "Helvetica Neue", Helvetica, Arial, Helmet, FreeSans, sans-serif;
  font-size: 100%;
}

.blu {
  color: #09F;
  text-decoration: none;
}

.code {
  font-family: "Courier New", Courier, monospace;
  font-size: 100%;
}
.indent {
  margin-left: 40px;
}
.quote {
  color: #07572c;
  font-family: Palatino, Georgia, FreeSerif, Serif;
  font-style: italic;
}

a:link {color: #00F; text-decoration: none;}
a:visited {color: #711B8D;text-decoration: none;}
a:hover {color: #00F; text-decoration: underline;}
a:active {color: #00F;}

#bl {
  float: left;
  max-width: 500px;
  width: 50%;
}

#br {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, Helmet, FreeSans, sans-serif;
  font-size: 75%;
  float:left;
  margin-bottom: 15px;
  max-width: 500px;
  text-align: right;
  width: 50%;

}



/* Top Nav */
#tnav {
  height: 50px;
  width: 1000px;
}

#tnav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#tnav > ul > li {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 0 .3em 0 0;
  outline: none;
  text-align: center;
  width: 140px;
}

/* Link - Visited - Hover - Focus - Active */
#tnav a {text-decoration: none; display: block;} 
#tnav a:link { color: #03F; text-decoration: none;}
#tnav a:visited {color: #03F; text-decoration: none;}
#tnav a:hover { color: #0025B6; text-decoration: none;}
#tnav a:active {color: #000; text-decoration: none;}

#tnav li a:active {
  border-radius: 7px;
  box-shadow:inset 0 1px 0 0 rgba(0,0,0,.18);
}

@media only screen and (max-width: 768px) {
  /* mobile */
  .space { line-height: 2.1em; }
   /*#tnav {width: 500px;}*/
   p { line-height: 1.5em;  font-size: 120%;}
   PRE .space{ line-height: 1.75em;  font-size: 120%;}
   H1 {font-size: 200%;}
   H2 {font-size: 175%;}
}

.space {
}

.tbtn {
  background-color: #F8F9FA;
  border-color: gray;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.6) inset;
  cursor: pointer;
  font-family: Helvetica,Arial,Helmet,FreeSans,sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  height: 40px;
  text-decoration: none;
  transition: background-color .25s;
}

.tbtn:hover {
  background-color: #2E91E3;
  transition: background-color .25s;
}

.tbtn a:focus {
  border-radius: 7px;
  background-color: #D1D1D1;  /* 2E91E3  d blue */
  outline: none;
}

.tbtn svg {fill: #03f;}
.tbtn:hover svg {fill: white;}

.tflat {
  color: #000;
  border-color: gray;
  border-radius: 8px;
  border-style:solid;
  border-width: 1px;
  font-size: 1.1em;
  font-family: Helvetica,Arial,Helmet,FreeSans,sans-serif;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
 }

#search {
  margin-left: 10px;
  width: 400px;
}

#q {
  border-radius: 6px;
  border-top: 1px solid #7c7c7c;
  border-left: 1px solid #ACB5BE;
  border-right: 1px solid #ACB5BE;
  border-bottom: 1px solid #ddd;
  background: #fffefe url(images/fieldbg.gif) repeat-x top;
  box-shadow: 0 0 2px #ccc;
  color: #404050;
  font: 16px "Helvetica Neue", Helvetica, Arial, Helmet, FreeSans, sans-serif;
  height: 18px;
  left: 10px;
  padding: 6px 6px 6px 6px;
  position: relative;
  display: block;
  float: left;
  top: 6px;
  z-index: 1;
  caret-color: #3f60ad;
}

#q:focus {
   outline: none; 
   border: 1px solid #4D90FE;
   transition: box-shadow 5s linear;
   box-shadow: 0px 0px 4px 0px #4D90FE;
}

/* search button */
#btn {
  display: inline-block;
  float: left;
  position:relative;
  left: 20px;
  top: 6px;
  width: 110px;
  height: 32px;
  border: 1px solid #777;
  border-radius: 2px 2px 2px 2px;
  color: #333;
  cursor: pointer;
  font-family: Helvetica,Arial,FreeSans, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  background: #eee;
  background-image: linear-gradient(to bottom, #eee, #ccc);
}

#btn:hover {
  background-image: linear-gradient(to bottom, #eee, #bbb);
}

#btn:active,#btn:focus{
  color: #666;
  border: 1px solid #4B8DF8;
  outline: none;
}